{% extends 'home/layout.html.twig' %}

{% block body %}

{% set fromModal = true %}
  {{ parent() }}
  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and navUserConfirmed and not is_granted('ROLE_ADMIN')%}
    <script>window.location.replace("{{ path('confirmed_home') }}")</script>
  {% endif %}

  {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and not navUserConfirmed %}
		<div class="alert alert-primary" style="margin-bottom: 0;">
    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
 			 		<span aria-hidden="true">&times;</span>
				</button>
			<p class="text-capitalize text-success"> Almost done! You need to confirm your account with the email we send you.
        <p class="small"> Can't see the email? You should check your spam.
            <a href="/registerresentmail">resent the email.</a>
        </p>
			</p>

		</div>
    {% endif %}

  <header class="masthead" id="index-masthead">

    <div class="container">

      <div class="intro-text">
        <div class="intro-lead-in">Get True Story{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} {{navUserName}}{% endif %}
        </div>
        <div class="intro-heading text-uppercase">
          <span class="Text-Pink">Ma</span><span class="Text-White">tcha</span>
        </div>

        {{ include('modals/modal-register-login.html.twig') }}

      </div>

    </div>

  </header>

  {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') or not navUserConfirmed %}
    {{ include('home/index-not-confirmed.html.twig') }}
  {% endif %}
{% endblock %}