{% extends 'home/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"> Get True Story {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}{{ user_name }}{% endif %}
                </div>
                <div class="intro-heading text-uppercase">
                    <span class="Text-Pink">Ma</span><span class="Text-White">tcha</span>
                </div>
                {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {# <a type="button" class="btn btn-getstarted text-uppercase" href="{{ path('app_register')}}" >Get started
                    </a> #}

                    {# this part is for modal register, not done yet #}
                    {<button type="button" class="btn btn-getstarted text-uppercase" data-toggle="modal" data-target="#GetStartedModal">Get started
                    </button>
                    {# Modal #}
                    <div class="modal fade" id="GetStartedModal" tabindex="-1" role="dialog" aria-labelledby="GetStartedModal" aria-hidden="true">
                        {{ render(controller('App\\Controller\\RegistrationController::register', {}, {'fromModal': true})) }}
                    </div>
                    {# Modal #}
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

{% block javascripts %}
      {{parent()}}

{% endblock %}