{% extends 'layout.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
	{#navbar #}
	{{ include("navbar/navbar.html.twig") }}
	{#navbar #}
    <div class="container register-form">
        <div class="card">
            <h5 class="card-header info-color white-text text-center py-4">
                <strong> Tell us about you </strong>
            </h5>

            {# card content #}
            <div class="card-body px-lg-5 pt-0">
                <div class="text-center" style="color: #757575;">
                    {{ form_start(registrationForm) }}

                        {# username #}
                        <div class="form-row">
                            <div class="col">
                                <!-- first name -->
                                <div class="form-part label-float">
                                    {{ form_widget(registrationForm.username, {'attr': {'type': 'text', 'class': 'form-control'}}) }}
                                    <label class="hide-label" for="registration_form_username">First name</label>
                                    <div class="form-error">
                                        {{ form_errors(registrationForm.username) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <!-- Last name -->
                                <div class="form-part label-float">
                                    {{ form_widget(registrationForm.lastname, {'attr': {'class': 'form-control'}}) }}
                                    <label for="registration_form_lastname">Last name</label>
                                    <div class="form-error">
                                        {{ form_errors(registrationForm.lastname) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# E-mail #}
                        <div class="form-part label-float">
                            {{ form_widget(registrationForm.mail, {'attr': {'class': 'form-control'}}) }}
                            <label for="registration_form_mail">E-mail</label>
                            <div class="form-error">
                                {{ form_errors(registrationForm.mail) }}
                            </div>
                        </div>

                        {# Password #}
                        <div class="form-margin">
                            <div class="form-part label-float">
                                {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                <label for="registration_form_plainPassword_first">Your password</label>
                                <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted small-password">
                                    At least 8 characters and 1 digit
                                </small>
                                <div class="form-error">
                                    {{ form_errors(registrationForm.plainPassword.first) }}
                                </div>
                            </div>
                            <div class="form-part label-float">
                                {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                <label for="registration_form_plainPassword_second">Repeat your password</label>
                                <div class="form-error">
                                    {{ form_errors(registrationForm.plainPassword.second) }}
                                </div>
                            </div>
                        </div>

                        {# Gender #}
                        <div class="form-part form-gender">
                            <label for="registration_form_gender">Your gender</label>
                            {{ form_widget(registrationForm.gender, {'attr': {'class': 'form-control'}}) }}
                            <div class="form-error">
                                {{ form_errors(registrationForm.gender) }}
                            </div>
                        </div>

                        {# Birthday #}
                        <div class="form-part form-birthdate">
                            {{ form_widget(registrationForm.birthdate) }}
                            <div class="form-error">
                                {{ form_errors(registrationForm.birthdate) }}
                            </div>
                        </div>
                        <div class="form-margin">
                            {{ form_row(registrationForm.register, {'attr': {'class': 'btnSubmit'}}) }}
                        </div>

                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

