<div class="dropdown">
	{#img of user trigger the dropdown menu #}
	<img src="{{ asset(navUserProfilePictureUrl) }}" class="dropdown-toggle img-dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<div class="card card-user">
			<div class="card-body text-center">
				<div class="header-card-div">
					<ul class="menu-user">
						<img src="{{ asset(navUserProfilePictureUrl) }}" class="img-card-body" type="button" onclick="window.location='{{ url("app_edituser_profilepicture") }}'">
					</ul>
					<ul class="menu-user">
			    		<p class="card-title text-user-card-title">{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} {{navUserName}}{% endif %}</p>
					</ul>
					{% if navUserConfirmed is same as(false) %}
						<ul class="menu-user">
							<p class="text-user-card text-danger"> Account not confirmed yet. </p>
						</ul>
					{% endif %}
					<ul class="menu-user">
						<a class="text-user-card" href="{{ path('app_logout') }}">sign out</a>
					</ul>
				</div>
			</div>
			{% if navUserConfirmed is same as(true) %}
				<div class="card-body text-center">
					<a href="#" > your match </a>
				</div>
			{% endif %}
			<div class="card-footer">
				<div class="row text-center">
					<div class="col-sm">
						<a href="https://www.facebook.com/" class="fa fa-facebook"></a>
					</div>
					<div class="col-sm">
						<a href="https://www.twitter.com/" class="fa fa-twitter"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>