{# templates/emails/registration.html.twig #}
<h3>{{ name }}, click on the link below to reset your password</h3>

{# local use #}
<a href="matcha.test/resetpassword/{{ token }}/" >"matcha.test/resetpassword/{{ token }}"</a>
{# deployed use
Thanks a lot! To confirm your account click on this link : <a href="startsys.com/resetpassword/{{ token }}/" >"startsys.com/resetpassword/{{ token }}/"</a>
#}