{# templates/emails/registration.html.twig #}
<h3>{{ name }}, You did it! You registered!</h3>

{# local use #}
Thanks a lot! To confirm your account click on this link :
<a href="matcha.test/confirmaccount/{{ token }}/{{ name }}" >"matcha.test/confirmaccount/{{ token }}/{{ name }}"</a>
{# deployed use
Thanks a lot! To confirm your account click on this link : <a href="startsys.com/confirmaccount/{{ token }}/{{ name }}" >"startsys.com/confirmaccount/{{ token }}/{{ name }}"</a>
#}
