{% extends 'layout.html.twig' %}

{% block title %}
  Register
{% endblock %}

{% block body %}

	{#navbar #}
	{{ include("navbar/navbar.html.twig") }}
	{#navbar #}
  <div class="container register-form">
    {# content #}
    <div class="text-center" style="color: #757575;">
      <div class="card-register">
        <h5 class="card-header info-color white-text text-center py-4">
          <strong>Reset your password</strong>
        </h5>
        <div class="card-body px-lg-5 pt-0">
          {{ form_start(form) }}
          {# Password #}
            <div class="form-margin">
              <div class="form-part label-float">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                <label for="registration_form_plainPassword_first">Your password</label>

                <div class="form-error">
                  {{ form_errors(form.plainPassword.first) }}
                </div>
              </div>

            {# Password  repeat#}
              <div class="form-margin">
                <div class="form-part label-float">
                  {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                  <label for="registration_form_plainPassword_second">Repeat your password</label>
                  <div class="form-error">
                    {{ form_errors(form.plainPassword.second) }}
                  </div>
                      <small id="" class="text-right form-text text-muted small-password">
                    8 characters, 1 digit, 1 uppercase and 1 lowercase
                  </small>
                </div>
              </div>
            </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
